<?xml version="1.0"?>
<!--
* Name Extension: Slideshow Homepage
* Version: 1.0.0
* Author: The Cmsmart Development Team 
* Date Created: 16/09/2013
* Websites: http://cmsmart.net
* Technical Support: Forum - http://cmsmart.net/support
* GNU General Public License v3 (http://opensource.org/licenses/GPL-3.0)
* Copyright © 2011-2013 Cmsmart.net. All Rights Reserved.
-->
<config>
    <modules>
        <Cmsmart_Slideshow>
            <version>1.0.0</version>
        </Cmsmart_Slideshow>
    </modules>
    <admin>
        <routers>
            <slideshow_admin>
                <use>admin</use>
                <args>
                    <module>Cmsmart_Slideshow</module>
                    <frontName>slideshow_admin</frontName>
                </args>
            </slideshow_admin>
        </routers>
        <adminhtml>
            <args>
                 <models>
                    <slideshow>
                        <class>Cmsmart_Slideshow_Model</class>
                        <resourceModel>slideshow_mysql4</resourceModel>
                    </slideshow>
                 </models>
            </args>
			<events>
			  <cms_wysiwyg_config_prepare>
				<observers>
				  <variable_observer>
					<class>core/variable_observer</class>
					<method>prepareWysiwygPluginConfig</method>
				  </variable_observer>
				</observers>
			  </cms_wysiwyg_config_prepare>
			</events>
                    <slideshow_mysql4>
                        <class>Cmsmart_Slideshow_Model_Mysql4</class>
                        <entities>
                            <slideshow>
                                <table>cmsmart_slideshow</table>
                            </slideshow>
                        </entities>
                    </slideshow_mysql4>
         </adminhtml>
    </admin>
    <frontend>
        <routers>
            <slideshow>
                <use>standard</use>
                <args>
                    <module>Cmsmart_Slideshow</module>
                    <frontName>Slideshow</frontName>
                </args>
            </slideshow>
        </routers>
        <layout>
            <updates>
                <slideshow module="Cmsmart_Slideshow">
                    <file>cmsmart/cmsmart_slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
        <translate>
            <modules>
                <Cmsmart_Slideshow>
                    <files>
                        <default>Cmsmart_Slideshow.csv</default>
                    </files>
                </Cmsmart_Slideshow>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Cmsmart_Slideshow>
                    <files>
                        <default>Cmsmart_Slideshow.csv</default>
                    </files>
                </Cmsmart_Slideshow>
            </modules>
        </translate>

        <menu>
            <slideshow module="slideshow">
                <title>Slideshow</title>
                <sort_order>71</sort_order>               
                <children>					
                    <posts module="slideshow">
                        <title>Posts</title>
                        <sort_order>10</sort_order>
                        <action>slideshow_admin/manage_slideshow/index</action>
                    </posts>
					<postsrevolution module="slideshow">
                        <title>Posts Revolution</title>
                        <sort_order>10</sort_order>
                        <action>slideshow_admin/manage_revolution/index</action>
                    </postsrevolution>
					<settings translate="title" module="slideshow">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/slideshow</action>
                        <sort_order>40</sort_order>
                    </settings>
                </children>
            </slideshow>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <slideshow>
                            <title>Slideshow</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                            </children>
                        </slideshow>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <slideshow>
                                            <title>cmsmart slideshow Section</title>
                                        </slideshow>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <slideshow module="Cmsmart_Slideshow">
                    <file>cmsmart/cmsmart_slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
    </adminhtml>
    <global>
		<models>
            <slideshow>
                <class>Cmsmart_Slideshow_Model</class>
                <resourceModel>slideshow_mysql4</resourceModel>
            </slideshow>
            <slideshow_mysql4>
                <class>Cmsmart_Slideshow_Model_Mysql4</class>
                <entities>
                    <slideshow>
                        <table>cmsmart_slideshow</table>
                    </slideshow>
                    <post>
                        <table>cmsmart_slideshow</table>
                    </post>
				</entities>
            </slideshow_mysql4>
        </models>
        <blocks>
            <slideshow>
                <class>Cmsmart_Slideshow_Block</class>
            </slideshow>
			<revolution>
                <class>Cmsmart_Slideshow_Block</class>
            </revolution>
        </blocks>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Cmsmart_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <helpers>
            <slideshow>
                <class>Cmsmart_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
    <default>
		<slideshow>
			<cmsmart>
				<license_skuproduct>MG11</license_skuproduct>
			</cmsmart>
			<settings>
				<enabled>1</enabled>
				<type>revolution</type>
				<linkpostimage></linkpostimage>
				<navigation>1</navigation>
				<easing>easeInOutSine</easing>
				<loader>bar</loader>
				<style>random</style>
				<slidingtime>8000</slidingtime>
				<slidingeffecttime>3000</slidingeffecttime>
				<imagewidth>896</imagewidth>
				<imageheight>342</imageheight>
				<description>1</description>
				<thumbnails>pagination</thumbnails>
				<imagewidththumbnails>35</imagewidththumbnails>
				<imageheightthumbnails>35</imageheightthumbnails>
				<lofsliderstyle>1</lofsliderstyle>
				<direction>opacitys</direction>
				<navPosition>horizontal</navPosition>
				<duration>1200</duration>
				<auto>true</auto>
				<mainWidth>900</mainWidth>
				<mainHeight>300</mainHeight>
				<navigatorHeight>50</navigatorHeight>
				<navigatorWidth>50</navigatorWidth>
				<sliderswrapper>900</sliderswrapper>
				<slidersheight>300</slidersheight>
				<maxItemDisplay>4</maxItemDisplay>
				<interval>2000</interval>
				<mobile>true</mobile>
				<slideshowrevolution></slideshowrevolution>
				<delay>9000</delay>
				<startheight>450</startheight>
				<startwidth>890</startwidth>
				<hideThumbs>200</hideThumbs>
				<thumbWidth>100</thumbWidth>
				<thumbHeight>50</thumbHeight>
				<thumbAmount>1</thumbAmount>
				<fullWidth>off</fullWidth>
				<navigationType>none</navigationType>
				<navigationArrows>nexttobullets</navigationArrows>
				<navigationStyle>round</navigationStyle>
				<touchenabled>on</touchenabled>
				<navOffsetHorizontal>0</navOffsetHorizontal>
				<navOffsetVertical>20</navOffsetVertical>
				<shadow>3</shadow>
				<onHoverStop>on</onHoverStop>
				<autosequence>true</autosequence>
				<navigationsequence>true</navigationsequence>
				<preloader>true</preloader>
				<navigationSkip>true</navigationSkip>
				<class_images_sequence>balloon,aeroplane,kite</class_images_sequence>
				<maxwidth_images_sequence>400</maxwidth_images_sequence>
				<maxheight_images_sequence>520</maxheight_images_sequence>
			</settings>
		</slideshow>
	</default>
</config>
